In [2]:
import pandas as pd

In [4]:
df=pd.read_csv("../data/preprocessed/wwr_jobs_cleaned.csv")
df.head()

,job_title,company,location,job_url,job_category
0,online english teacher,native camp,japan,https://weworkremotely.com/remote-jobs/native-...,Other
1,managing editor,the swiftest,san francisco,https://weworkremotely.com/remote-jobs/the-swi...,Other
2,full-stack engineer python/react/genai,toptal,remote,https://weworkremotely.com/remote-jobs/toptal-...,Back-End
3,freelance writer,prowritersites,new york,https://weworkremotely.com/remote-jobs/prowrit...,Other
4,embedded firmware developer,toptal,remote,https://weworkremotely.com/remote-jobs/toptal-...,Other

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 247 entries, 0 to 246
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   job_title     247 non-null    object
 1   company       247 non-null    object
 2   location      247 non-null    object
 3   job_url       247 non-null    object
 4   job_category  247 non-null    object
dtypes: object(5)
memory usage: 9.8+ KB

In [8]:
df.isna().sum()

job_title       0
company         0
location        0
job_url         0
job_category    0
dtype: int64

In [9]:
df['job_category'].value_counts()

job_category
Other                   76
Sales / Marketing       50
Management / Finance    30
DevOps / Sysadmin       24
Back-End                20
Front-End               13
Customer Support        12
Design                  11
Product                  6
Full-Stack               5
Name: count, dtype: int64